#Header {
    margin: 0 !important;
    background-color: #243393;
    z-index: 999;
}

#Header_container {
    padding-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
}

.header_grids {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#Burger_icon {
    color: #fafafa;

}

/* iPad device below */
@media (max-width: 768.9px) {
    #Header_container {
        padding-bottom: 3px;
        
    }

    #rightPaper {
        display: none;
    }
}